# Default values for screen-play.
global:
  security:
    allowInsecureImages: true

postgresql:
  enabled: true
  fullnameOverride: postgres
  image:
    tag: 17.4.0-debian-12-r17
    repository: bitnamilegacy/postgresql
    debug: true
  containerPorts:
    postgresql: 5432
  auth:
    database: ScreenPlay
    username: admin
    password: admin
  primary:
    podSecurityContext:
      fsGroup: 65534
      fsGroupChangePolicy: OnRootMismatch
    containerSecurityContext:
      runAsUser: 65534
      runAsGroup: 65534
    persistence:
      enabled: true
      existingClaim: plex-pvc
      subPath: postgres
  backup:
    enabled: false
    cronjob:
      enabled: false
      podSecurityContext:
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
      containerSecurityContext:
        runAsUser: 65534
        runAsGroup: 65534
      storage:
        enabled: true
        existingClaim: s3-pvc
        subPath: postgres-backup
      schedule: "@daily"

frontend:
  enabled: true
  image: ghcr.io/palacplus/screen-play-ui
  containerPort: "80"
  service:
    enabled: true
    type: NodePort
    port: "80"
    targetPort: "80"
  resources:
    limits:
      cpu: "100m"
      memory: "128Mi"
    requests:
      cpu: "100m"
      memory: "128Mi"

server:
  enabled: true
  image: ghcr.io/palacplus/screen-play-server
  containerPort: "5001"
  service:
    enabled: true
    type: ClusterIP
    port: "5001"
    targetPort: "5001"
  resources:
    limits:
      cpu: 1.0
      memory: 400M
    requests:
      cpu: 1.0
      memory: 128M
  readinessProbe:
    httpGet:
      path: /health
      port: 5001
    initialDelaySeconds: 10
    periodSeconds: 5
  livenessProbe:
    httpGet:
      path: /health
      port: 5001
    periodSeconds: 120
  env:
    - name: ASPNETCORE_ENVIRONMENT
      value: Production
    - name: SP_Logging__LogLevel__Default
      value: Information
    - name: SP_AUTHENTICATION__GOOGLE__CLIENTID
      valueFrom:
        secretKeyRef:
          name: google-client
          key: clientid
    - name: SP_AUTHENTICATION__GOOGLE__CLIENTSECRET
      valueFrom:
        secretKeyRef:
          name: google-client
          key: clientsecret
    - name: SP_AUTHENTICATION__JWT__KEY
      valueFrom:
        secretKeyRef:
          name: jwt
          key: key
    - name: SP_AUTHENTICATION__JWT__ISSUER
      value: screenplay
    - name: SP_AUTHENTICATION__JWT__AUDIENCE
      value: screenplay
    - name: SP_AUTHENTICATION__JWT__EXPIRYHOURS
      value: "1"
    - name: SP_ADMIN__EMAIL
      valueFrom:
        secretKeyRef:
          name: admin
          key: email
    - name: SP_ADMIN__PASSWORD
      valueFrom:
        secretKeyRef:
          name: admin
          key: password
    - name: SP_RADARR__URI
      value: http://radarr
    - name: SP_RADARR__APIKEY
      valueFrom:
        secretKeyRef:
          name: radarr
          key: apikey
    - name: SP_RADARR__ROOTFOLDERPATH
      value: /movies
