.queue-container {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  font-size: 16px;
  width: 90vw;
  max-width: 41.5em;
  padding: 1.5em 1.8em;
  background-color: #1e293b;
  transition: top 0.8s ease-in-out;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.queue-container h1 {
  text-align: center;
  font-size: x-large;
}

.queue-container h4 {
  color: white;
  font-size: large;
}

.queue-container img {
  width: 5.4em;
  max-width: fit-content;
  text-align: center;
  display: block;
  position: relative;
  left: 5%;
}

.queue-container table {
  color: white;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}

.queue-container tr {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  max-height: none;
}

.queue-container tr:hover {
  border-radius: 10px;
  /* display: block; */
  background-color: #2c313a;
  cursor: pointer;
  border: solid 0px;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-style: none;
}

#expandable {
  max-height: 0;
  min-height: 0;
  transition: all 0.8s;
  overflow: hidden;
  border: 1px black;
  border-radius: 10px;
}

#expandable.expanded {
  min-height: 200px;
  max-height: 900px;
  max-width: inherit;
  background-color: #343d4d;
}

.queue-container td {
  border: solid 1px #343d4d;
  border-style: solid;
  padding: 8px;
}

.queue-container td:nth-child(1) {
  border-right-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.queue-container td:nth-child(2) {
  border-left-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

.queue-container header {
  display: grid;
  grid-template-columns: 1.5fr 9fr;
  padding-top: 0.5em;
}

.queue-container .inner {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
  padding-top: 0.5em;
}

.queue-container footer {
  position: relative;
  text-align: right;
  font-size: small;
  color: #afaeae;
  display: block;
}

.spinner {
  position: relative;
  left: 46%;
  margin-top: 2%;
}

@media screen and (max-width: 600px) {
  .queue-container {
    font-size: 14px;
  }
  table {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
}

.quality {
  text-align: center;
  font-weight: 300;
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  border: 2px solid;
}

.download-timer {
  letter-spacing: 0.1em;
  font-size: 1.2em;
  text-align: left;
}

.eta {
  padding-left: 0.3em;
  text-shadow: #1e293b;
  font-size: small;
  letter-spacing: 0;
}

.queue-grid {
  margin-left: 8%;
}

.progress {
  justify-content: space-between;
}

.queue-container .info {
  display: grid;
  margin-top: auto;
  grid-template-columns: none;
}

.queue-container .poster {
  display: none;
}

.queue-container .title h2 {
  display: none;
}

.queue-container .genre {
  justify-content: center;
  gap: 1.5em;
}

.queue-container .rating {
  position: relative;
  left: -4%;
  display: flex;
  gap: 2.6em;
}

.queue-container .rating h4 {
  margin-bottom: unset;
}

.queue-container .rating img {
  width: 25px;
}

.queue-container h3 {
  margin-top: inherit;
  text-align: left;
  padding-left: 5%;
}

.queue-container p {
  padding-left: 5%;
  max-width: 90vw;
  overflow-wrap: break-word;
}
