/* Shared Container Styles */
.shared-container {
  text-align: center;
  margin-bottom: 0.1rem;
  background-color: #fff; /* White background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Shared Header Styles */
.shared-header {
  background: linear-gradient(to right, #344157, #1e293b); /* Gradient background */
  border-radius: 15px 15px 0 0; /* Rounded corners for the top */
  padding: 1rem;
  color: #fff; /* White text for contrast */
}

.shared-header h1,
.shared-header h3 {
  margin: 0;
}

/* Shared Body Styles */
.shared-body {
  font-size: 1rem;
  color: #495057; /* Dark grey text */
  line-height: 1.5;
  padding: 1rem;
  text-align: left; /* Default alignment for shared body text */
}

/* About Component Specific Styles */
.about .shared-body {
  text-align: center; /* Override to center-align text for the About component */
}

/* Library Stats Container */
.library-stats {
  flex: 1;
  padding: 1rem;
  background-color: #fff; /* Match the LoginPanel background */
  border-radius: 15px; /* Match the LoginPanel border radius */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); /* Match the LoginPanel shadow */
}

/* Header Section */
.library-stats-header {
  background: linear-gradient(to right, #344157, #1e293b); /* Gradient background */
  border-radius: 15px 15px 0 0; /* Rounded corners for the top */
  padding: 1rem;
  text-align: center;
  color: #fff; /* White text for contrast */
}

.library-stats-header h3 {
  margin: 0;
}

/* Body Section */
.library-stats-body {
  padding: 1rem;
  text-align: left; /* Align text to the left */
}

/* LibraryStats-Specific Styles */
.stat-value {
  font-size: 1.5rem;
  color: #007bff; /* Blue color for emphasis */
  font-weight: bold;
}

.top-titles-header {
  margin-top: 1rem;
  color: #495057; /* Dark grey for the header */
}

.top-titles-list {
  padding-left: 1.5rem; /* Indent the list */
}

.top-title-item {
  color: #007bff; /* Blue color for titles */
  font-weight: bold;
}

/* Left Side of Library Page */
.left-side {
  flex: 0 0 30%; /* Fixed width as a percentage of the page */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Right Side of Library Page */
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Add Movie Button */
.add-movie-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #ff8700;
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-movie-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.popup-content.add-movie-popup {
  padding: 0;
  width: 30%;
}
