name: Delete Untagged Container Versions

on:
  workflow_dispatch:

jobs:
  delete-images-frontend:
    uses: ./.github/workflows/image-delete.yaml
    with:
      package_name: 'screen-play'
      package_type: 'container'
  
  delete-images-server:
    uses: ./.github/workflows/image-delete.yaml
    with:
      package_name: 'screen-play'
      package_type: 'container'