name: Create Release

on:
  workflow_call:
    outputs:
      clientImageTag:
        description: client image tag
        value: ${{ jobs.build-client-image.outputs.imageTag }}
      serverImageTag:
        description: server image tag
        value: ${{ jobs.build-server-image.outputs.imageTag }}

jobs:
  tag-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.semver.outputs.next }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
          fallbackTag: 0.0.0
          patchAll: true
          majorList: 'BREAKING'
          noVersionBumpBehavior: patch

      - name: Create Pre-Release
        uses: ncipollo/release-action@v1.12.0
        with:
          allowUpdates: true
          prerelease: true
          draft: ${{ github.event_name == 'pull_request' }}
          commit: ${{ github.sha }}
          tag: ${{ steps.semver.outputs.next }}
          name: ${{ steps.semver.outputs.next }}
          body: '*pending*'
          token: ${{ github.token }}

      - name: Update CHANGELOG
        if: github.event_name == 'push'
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ steps.semver.outputs.next }}
          writeToFile: false
          includeInvalidCommits: true

      - name: Create Release
        if: github.event_name == 'push'
        uses: ncipollo/release-action@v1.12.0
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          tag: ${{ steps.semver.outputs.next }}
          name: ${{ steps.semver.outputs.next }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ github.token }}

  build-server-image:
    uses: ./.github/workflows/image-build.yaml
    needs: [tag-release]
    secrets: inherit
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    with:
      imageName: server
      dockerfile: Dockerfile.server
      tagOverride: ${{ needs.tag-release.outputs.tag }}
  
  build-client-image:
    uses: ./.github/workflows/image-build.yaml
    needs: [tag-release]
    secrets: inherit
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    with:
      imageName: ui
      dockerfile: Dockerfile.client
      tagOverride: ${{ needs.tag-release.outputs.tag }}
